@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../webfonts/League_Gothic-webfont.eot');
    src: url('../webfonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/League_Gothic-webfont.woff') format('woff'),
         url('../webfonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../webfonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
	height: 100%;
	height: auto;
	margin: 0;
}

body {
	background-color: #302d2f;
	font: 16px/18px Helvetica, sans-serif;
	color: #f3f3f4;

	 text-rendering: optimizeLegibility;

	 padding: 0 0 2em 0;
}

h2, h3 {
	font-family: 'LeagueGothicRegular', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 0px 2px #242223;
}

header {
	margin: 0 auto;
	background-color: #cf3c3c;
	height: auto;
	width: 315px;
	text-align: center;
}
	header img {
		margin: 0 auto;
	}

nav {
	background: url('../img/filter_bg.png') no-repeat bottom center;
	height: auto;
	width: 285px;
	padding: 15px;
	margin: 0 auto;
	text-align: center;

	font-family: "LeagueGothicRegular";
}
	button {
		font-size: 22px;
		letter-spacing: 2px;
		display: inline-block;
		padding: 5px 10px;
		margin: 0.35em;
		background: #3194c6;
		border-radius: 8px;
	}
		button a {
			text-decoration: none;
			color: inherit;
		}
	
	button.active {
		background: #ebde16;
	}

	.filter-status {
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: rgb(144, 54, 50);
		margin: 1em 0 0 0;
	}

.restaurants {
	width: 100%;
}
.restaurant {
	width: 300px;
	margin: 1.5em auto;
	cursor: pointer;
}

.tease {
	background-color: #242223;
	padding: 16px 0 0 0;
	border-radius: 10px;
	margin: 10px 10px 0 10px;
}
	.tease h3 {
		font-size: 32px;
		text-align: center;
		margin: 0;
		padding: 0 0 0.5em 0;
	}
	.photo-frame {
		height: 220px;
		position: relative;
	}
		.blurb {
			position: absolute;
			bottom: 0;

			padding: 5%;
			width: 90%;

			text-align: center;
			line-height: 24px;

			background-color: rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.6);

			/*text-shadow: 0px 0px 5px #000;*/
		}
	.pane-controls {
		position: relative;
	}
		.hours-today {
			padding: 15px;
			font-size: 12px;
			text-shadow: 1px 1px 1px #111;
		}

		.show-button {
			/*font-size: 12px;*/
			white-space: nowrap;

			float: right;
			width: 24px;
			height: 20px;
			position: absolute;
			bottom: 0;
			right: 0;

			border-left: 1px solid #363335;
			border-bottom-right-radius: 10px;

			padding: 14px 15px;

			background: #252323;
			background: -moz-linear-gradient(top, #252323 0%, #3d3d3e 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252323), color-stop(100%,#3d3d3e));
			background: -webkit-linear-gradient(top, #252323 0%,#3d3d3e 100%);
			background: -o-linear-gradient(top, #252323 0%,#3d3d3e 100%);
			background: -ms-linear-gradient(top, #252323 0%,#3d3d3e 100%);
			background: linear-gradient(to bottom, #252323 0%,#3d3d3e 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252323', endColorstr='#3d3d3e',GradientType=0 );
		}

.restaurant-details {
	background-color: #FFF;
	color: #000;
	border: 1px solid #6a6666;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin: 0 20px 20px 20px;
	width: 260px;
	font-size: 13px;
	display: none;
}
	.street-address, .tel {
		padding: 10px;
		text-align: center;
		border-bottom: 1px solid #f3f3f4;
	}
	.url {
		background-color: #f3f3f4;
		text-align: center;
		padding: 10px;
		border-right: 1px solid #adaaaa;
		border-left: 1px solid #adaaaa;
		margin: 0 -1px;
	}
	.url a, .tel a {
		color: #f0514e;
	}

.restaurant-hours {
	padding: 10px;
}
.restaurant-hours table {
	width: 100%;
}
	.restaurant-hours td:nth-of-type(1) {
		width: 90px;
		padding-left: 20px;
	}
	td.today {
		color: #f0514e;
		font-weight: bold;
	}
.n-a {
	color: #b9b9b9;
}