{% extends "base.html" %}
{% block content %}
	<nav>
		<!-- <h class="subtitle">Showing <span id="showing_count">all</span></p> -->
		<button><a class="filter-button" href="#">Coffee</a><span class="restaurant-count"></span></button>
		<button><a class="filter-button" href="#">Breakfast</a><span class="restaurant-count"></span></button>
		<button><a class="filter-button" href="#">Lunch</a><span class="restaurant-count"></span></button>
		<button><a class="filter-button" href="#">Dinner</a><span class="restaurant-count"></span></button>
		<button><a class="filter-button" href="#">Bars</a><span class="restaurant-count"></span></button>
		<button class="active"><a class="filter-button" href="#">Everything.</a><span class="restaurant-count"></span></button>
		<div class="filter-status"></div>
	</nav>

	<section class="restaurants">

		{% for r in restaurants %}
			<div class="restaurant" data-tags="{{ r.tags }}">
				<div class="tease">
					<h3>{{ r.name|safe }}</h3>
					<div class="photo-frame" style="background: url({{ STATIC_URL }}/img/processed/{{ r.image }}) no-repeat center center">
						<div class="blurb">{{ r.blurb|safe }}</div>
					</div>
					<div class="pane-controls">
						<div class="show-button">&middot; &middot; &middot;</div>
						<div class="hours-today"></div>
					</div>
				</div>
				<div class="restaurant-details">
					<div class="tel"><a href="tel:+{{ r.clickable_tel }}">{{ r.telephone }}</a></div>
					<div class="url"><a href="http://{{ r.url }}">{{ r.url }}</a></div>
					<div class="street-address">{{ r.address }}</div>
					<div class="restaurant-hours">
						<table>
							<tbody>
								<tr class="monday"><td>Monday</td><td class='hours'>{{ r.hours_mon }}</td></tr>
								<tr class="tuesday"><td>Tuesday</td><td class='hours'>{{ r.hours_tue }}</td></tr>
								<tr class="wednesday"><td>Wednesday</td><td class='hours'>{{ r.hours_wed }}</td></tr>
								<tr class="thursday"><td>Thursday</td><td class='hours'>{{ r.hours_thu }}</td></tr>
								<tr class="friday"><td>Friday</td><td class='hours'>{{ r.hours_fri }}</td></tr>
								<tr class="saturday"><td>Saturday</td><td class='hours'>{{ r.hours_sat }}</td></tr>
								<tr class="sunday"><td>Sunday</td><td class='hours'>{{ r.hours_sun }}</td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div><!-- restaurant -->
		{% endfor %}

	</section>
{% endblock %}