<!doctype html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
	<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico"> 
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css">
	<!-- <link rel="stylesheet" href="{{ STATIC_URL }}/css/chosen.css"> -->

	{% block header %}
	<title>Welcome</title>
	{% endblock %}

</head>
<body>

	<header>
		<img src="{{ STATIC_URL }}/img/le_text.png" alt="">
		<img src="{{ STATIC_URL }}/img/lefp_logo.png" alt="">
		<img src="{{ STATIC_URL }}/img/with_pk2.png" alt="">
	</header>

	<nav>
		<!-- <h class="subtitle">Showing <span id="showing_count">all</span></p> -->
		<button><a class="filter-button" href="#">Coffee</a><span class="restaurant-count"></span></button>
		<button><a class="filter-button" href="#">Breakfast</a><span class="restaurant-count"></span></button>
		<button><a class="filter-button" href="#">Lunch</a><span class="restaurant-count"></span></button>
		<button><a class="filter-button" href="#">Dinner</a><span class="restaurant-count"></span></button>
		<button><a class="filter-button" href="#">Bars</a><span class="restaurant-count"></span></button>
		<button class="active"><a class="filter-button" href="#">Everything.</a><span class="restaurant-count"></span></button>
		<div class="filter-status"></div>
	</nav>

	<section class="restaurants">

		{% for r in restaurants %}
			<div class="restaurant" data-tags="{{ r.tags }}">
				<div class="tease">
					<h3>{{ r.name }}</h3>
					<div class="photo-frame" style="background: url({{ STATIC_URL }}/img/raw/{{ r.image }}) no-repeat center center">
						<div class="blurb">{{ r.blurb|safe }}</div>
					</div>
					<div class="pane-controls">
						<div class="show-button">&middot; &middot; &middot;</div>
						<div class="hours-today"></div>
					</div>
				</div>
				<div class="restaurant-details">
					<div class="restaurant-hours">
						<table>
							<tbody>
								<tr><td>Monday</td><td class="monday">{{ r.hours_mon }}</td></tr>
								<tr><td>Tuesday</td><td class="tuesday">{{ r.hours_tue }}</td></tr>
								<tr><td>Wednesday</td><td class="wednesday">{{ r.hours_wed }}</td></tr>
								<tr><td>Thursday</td><td class="thursday">{{ r.hours_thu }}</td></tr>
								<tr><td>Friday</td><td class="friday">{{ r.hours_fri }}</td></tr>
								<tr><td>Saturday</td><td class="saturday">{{ r.hours_sat }}</td></tr>
								<tr><td>Sunday</td><td class="sunday">{{ r.hours_sun }}</td></tr>
							</tbody>
						</table>
					</div>
					<div class="tel"><a href="tel:+{{ r.clickable_tel }}">{{ r.telephone }}</a></div>
					<div class="url"><a href="http://{{ r.url }}">{{ r.url }}</a></div>
					<div class="street-address">{{ r.address }}</div>
				</div>
			</div><!-- restaurant -->
		{% endfor %}

	</section>

	{% block content %}	{% endblock %}

	{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.3/jquery.scrollTo.min.js"></script>
	<script src="{{ STATIC_URL }}/js/main.js"></script>
	{% endblock %}

	<script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
		var t   = document.createElement('script');
		t.type  = 'text/javascript';
		t.async = true;
		t.id    = 'gauges-tracker';
		t.setAttribute('data-site-id', '5133fa3df5a1f56d0a000053');
		t.src = '//secure.gaug.es/track.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(t, s);
	  })();
	</script>
</body>
</html>